version: "3.9"

services:
  generator:
    image: debian:bookworm
    container_name: generator
    working_dir: /data
    volumes:
      - .:/data
    command: bash -c "
      apt-get update &&
      apt-get install -y openssl bash tree &&
      chmod +x /data/run.sh &&
      /data/run.sh &&
      echo '✅ Todos os certificados gerados.'"
    restart: "no"

  pki.local:
    image: nginx:alpine
    container_name: pki.local
    depends_on:
      generator:
        condition: service_completed_successfully
    ports:
      - "8080:80"
    volumes:
      # Repositório público da ICP
      - ./4-artefatos/pki-public:/usr/share/nginx/html/pki:ro
    networks:
      - icp_net
    restart: always

  web.local:
    image: nginx:alpine
    container_name: web.local
    depends_on:
      generator:
        condition: service_completed_successfully
      pki.local:
        condition: service_started
    ports:
      - "8443:443"
    volumes:
      - ./3-servidor/servidor.key:/etc/ssl/private/web.key:ro
      - ./4-artefatos/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - ./helpers/5-web/server/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - icp_net
    restart: always

  client:
    build: ./helpers/5-web/client
    container_name: client
    depends_on:
      web.local:
        condition: service_started
    volumes:
      - ./1-acRaiz/certs/certificadoACraiz.crt:/data/raiz.crt:ro
    networks:
      - icp_net
    restart: "no"

networks:
  icp_net:
    driver: bridge